.role_af3987.pillButton_af3987,
.role_af3987.pillButton_af3987:hover,
.role_af3987.expandButton_af3987,
.expandButton_fccfdf,
.collapseButton_fccfdf {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 2px 4px;
}
.role_af3987.pillButton_af3987 {
    border: 1px solid #4f545c !important;
    border-radius: 50px;
}
.expandButton_fccfdf .text-xs\\/medium_cf4812 {
    line-height: 12px;
}
.addButton_af3987,
.overflowButton__48c1c,
.expandButton_fccfdf.pill_fccfdf,
.collapseButton_fccfdf.pill_fccfdf,
.role_af3987.pillButton_af3987 {
    border: 1px solid #4f545c !important;
    border-radius: 50px;
}
.vc-permviewer-role-button,
.button__7d7f7 {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #4f545c !important;
    max-height: 22px;
    min-height: 22px;
    height: 22px;
    border-radius: 50px;
}
.vc-permviewer-role-button {
    line-height: 12px;
    font-size: 12px;
}
.vc-permviewer-role-button :where(.buttonInner_fb7f94).icon_fb7f94 {
    min-width: 12px;
    min-height: 12px;
    max-width: 12px;
    max-height: 12px;
}
.pillButton_af3987 svg,
.button__7d7f7 svg,
.addButton_af3987 svg {
    width: 12px;
    height: 12px;
}
.pillButton_af3987,
.addButton_af3987 {
    min-width: 22px;
    height: 22px;
}
.roleName_dfa8b6,
.member-perms .member-perm .name {
    margin-right: 0;
}
.roleCircle__4f569 {
    margin-left: 2px;
}
.removeButton_af3987 {
    margin-left: -1px;
    margin-right: -4px;
}
.role__48c1c .roleCircle__4f569 {
    margin-left: 0;
}
.role_af3987:has(.roleIcon_af3987) .roleName_af3987 {
    margin-right: -2px;
}
.role_af3987:not(:has(.roleIcon_af3987)) .roleName_af3987 {
    margin-right: -4px !important;
}
.member-perms .member-perm .perm-circle {
	margin-left: 2px !important;
    margin-right: 4px !important;
}
.rolesList [data-text-variant="text-xs/normal"] {
    font-weight: 400;
}
.roleIcon_af3987 {
    margin-top: -6px;
    margin-left: 6px;
    margin-right: -4px;
}
.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) .roleIcon_af3987 {
    margin-left: 4px;
}
.role_af3987 {
    min-height: 22px;
    height: 22px;
}
.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) {
    transform: translate(0);
    border: 0 !important;
}
.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) .removeButton_af3987 {
    position: static;
    cursor: unset;
    margin-left: -4px;
}
:is(.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) .roleCircle__4f569,.roleFlowerStar_af3987):before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: inherit;
    border-radius: 11px;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-mask: linear-gradient(#000, #000) padding-box, linear-gradient(#000, #000);
    -webkit-mask-composite: xor;
    opacity: 0.6;
    content: "";
    z-index: -1;
    pointer-events: none;
}
.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) .roleCircle__4f569 {
    margin-left: 3px;
}
.role_af3987:has(.twoColorGradient_e5de78,.gradientDotAnimation_e5de78) .roleName_af3987 {
    margin-right: -1px;
}
.roleColor_b4b2c3,
.roleDot__5d7c9 {
    width: 12px;
    height: 12px;
}
.tagRoleColor__0e476 {
    width: 14px;
    height: 14px;
    margin-left: -2px;
}
.tag__0e476:has(.tagRoleColor__0e476) .tagLabel__0e476 {
    padding-left: 4px;
}
.tag__0e476:has(.tagRoleColor__0e476) {
    padding: 0 6px;
    padding-right: 3px;
}
.tag__0e476:has(.tagRoleColor__0e476) .close__0e476 {
    margin-left: 2px;
}
.roleDot__5d7c9 {
    margin-left: 0;
}
.role__5d7c9 {
    padding-top: 2px;
    padding-bottom: 2px;
}
.linkIcon_ebf183[style*="1.5px"] {
    margin: 1px !important;
}
.verifiedRoleIcon_e29cd7 {
    margin: 2px !important;
}
.roleText__9e177 {
    font-weight: 500;
    margin-right: 2px;
}
.addButton_af3987.showLabel_af3987 {
    padding-inline-start: 4px;
}
